/* Styling for all the components in the header */
.headerNav { 
    font-family: Inter;
    text-align: center;
    margin: 0;
    height: 6vh;
    width: 100%;

}

.headerNav button {
    margin: 10px;
    width: 120px;
    height: 40px;
    font-family: Inter;
    font-size: large;
    outline: none;
    border: 2px solid rgba(102, 217, 211, 1);
    border-radius: 3px;
    background-color: white;
    box-shadow: 2px 0.5px 6px rgb(30, 72, 100);
}

.headerNav button:hover {
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

.headerNav button:active {
    color: black;
}


.headerContainer {
    width: 100%;
    height: 20vh;
    background: linear-gradient(90deg, rgba(43, 128, 143, 1), rgb(23, 73, 82));
    color: rgb(255, 255, 226);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.LogoContainer {
    width: 55vw;
    text-align: center;
    font-family: "Atma", system-ui;
    margin: 20px;
}

.logoH1 {
    margin: 0;
    padding: 0;
    font-size: xx-large;
    line-height: 20px;
}

.logoParagrah {
    text-align: left;
    margin: 0;
    padding-left: 30px;
}

.kockmössan {
    width: 90px;
    border-radius: 50%;
    margin: 20px;
    rotate: 10deg;
}



@media (min-width: 375px) {
    .kockmössan {
        margin: 30px;
    }
}